<div class="container">
    <div *ngIf="mensagem" [style.color]="erro ? 'red' : 'green'">
        {{mensagem}}
    </div>

    <div>
        <form [formGroup]="form">
            <label for="codigo">Código:</label>
            <input type="text" name="codigo" id="codigo" formControlName="codigo" readonly> <br>

            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" formControlName="nome"> <br>

            <label for="email">Email:</label>
            <input type="email" name="email" id="email" formControlName="email"> <br>

            <label for="telefone">Telefone:</label>
            <input type="text" name="telefone" id="telefone" formControlName="telefone"> <br>

            <button type="button" (click)="salvar()" class="btn btn-success">Salvar</button>
            <button type="button" (click)="alterarDados()" class="btn btn-warning">Alterar</button>
            <button type="button" (click)="excluirDados()" class="btn btn-danger">Excluir</button>

        </form>
    <hr>
        <table border="1" class="table table-striped">
            <tr>
                <thead>
                    <td>Código</td>
                    <td>Nome</td>
                    <td>Email</td>
                    <td>Telefone</td>
                </thead>
                <tbody>
                    <!-- Aqui vai entrar os dados -->
                    <tr *ngFor="let item of listaAlunos" (click)="carregarAlunosFormulario(item)">
                        <td> {{ item.codigo }} </td>
                        <td> {{ item.nome }} </td>
                        <td> {{ item.email }} </td>
                        <td> {{ item.telefone }} </td>
                    </tr>
                </tbody>
            </tr>
        </table>
    </div>
</div>