* { 
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(to right, #1fa133, #1B8C2C, #11591C);
}
nav {
    background-color: #13401A;
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline-block;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
nav a:hover {
    color: yellow;
    transition: 0.3s;
}
a {
    transition: 1s;
}